<!doctype html>
<html>		
<head>
	<title>NWD Map</title>
</head>
<body>
	<div id ="mapid"></div>

	<link rel="stylesheet" href="/static/custom.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
				var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
											maxZoom: 18,
											id: 'mapbox.streets',
											accessToken: 'pk.eyJ1IjoiamZmdGlsdG9uIiwiYSI6ImNqcWVnbDlzaTFiNGc0Mm53NHVyNTl5OTMifQ.rq5EIs1uXkuYrg08W3OO3g'
				});
				//River layer
				var snake = L.marker([46.271,-115.396 ]).bindPopup('Snake River Projects');
				    columbia = L.marker([45.611,-121.161 ]).bindPopup('Columbia River Projects');
					willamette = L.marker([44.558,-123.065 ]).bindPopup('Willamette River Projects');
				var rivers = L.layerGroup([snake, columbia, willamette]);
				

				//add cbt markers
				var cbts = L.layerGroup()
				{% for cbt in cbts %}
				var {{ cbt.cbt }} = L.marker([{{ cbt.latitude }},{{ cbt.longitude }}]).bindPopup('{{ cbt.name }}');
				cbts.addLayer( {{cbt.cbt }} );
				{% endfor %}

				// Create map
				var mymap = L.map('mapid',{
								center: [46.271,-115.396 ],
								zoom: 5,
								layers: [streets, rivers]
								})
					//remove rivers on zoom
					mymap.on('zoomend', function(){
							if (mymap.getZoom() > 7 && mymap.hasLayer(rivers) && mymap.hasLayer(cbts) == false){
								mymap.removeLayer(rivers);
								mymap.addLayer(cbts);
							}
							if (mymap.getZoom() < 7 && mymap.hasLayer(rivers) == false && mymap.hasLayer(cbts)){
								mymap.addLayer(rivers);
								mymap.removeLayer(cbts);
							}
						});	

		</script>


</body>
</html>
