.line {
		fill: none;
		stroke-width: 3;
		stroke: #d94801;	
}


.oq {
		fill: grey;
		opacity: .5;
			
}


.fq {
		fill: grey;
		opacity: .8;
			
}

.hidden {
  stroke: none;
}

.listener-group {
  // ..
  pointer-events: all;
}

line.tool-tip-visible{
    stroke: #000000;
    stroke-width: 2;
    stroke-dasharray: 3,3;
    opacity: 1;
}


.legend {
		
	width: 15px;
	height: 15px;
	float: left;
	vertical-align: bottom;
	bottom: 0;
	position: relative;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 18px;
	margin-right: 5px;
    				
}

#ob-legend {

		background-color: #d94801;	
}

#fq-legend {

		background-color: grey;	
		opacity: .8;
}

#oq-legend {

		background-color: grey;	
		opacity: .5;
}





#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;

}

#sidebar-wrapper {
  margin-left: -200px;
  left: 215px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-widget {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}