<link rel="stylesheet" href="/static/elevation_plot.css">
<script src="/static/d3.js"></script>



        <script type="text/javascript">
        
        function roundMinutes(date) {
                    date.setMinutes(date.getSeconds() + Math.round(date.getSeconds()/60));
                    date.setHours(date.getHours() + Math.round(date.getMinutes()/60));
                    date.setMinutes(0);
                    date.setSeconds(0);
                    return date;
                }
            
            var data = null;
            var cbt = null;
            var path = null;
            var values = null;
            var parameter = null;
            var units = null;
            var parsedData = [];
            var ParseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S")
            
			async function getData(url){
            //Load in the data
                const rawdata = await d3.json(url)
        			return rawdata
        			
    			}
    			
    		var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S");
    		var rowConverter = function(d, parseTime){
        		return{'flag':d['flag'], 'value':parseFloat(d['value']), 'date':parseTime(d['date'])}
    		}
    		var parseData = function(data){
        		var new_data = {}
        		for(item of data){
            		var vals = []
            		var i
            		len = item.values.length
            		for (i=0; i<len; ++i){
                		vals[i] = rowConverter(item.values[i], parseTime);
            		}
            		item.values = vals;
            		
            		new_data[item.parameter]=item;
        		}
                return new_data;
                }    
                
                
            var elevationPlot = function(data){
                var fb = data['Elev-Forebay'];
                var tw = data['Elev-Tailwater'];
                
                var fb_x_min = d3.min(fb.values, function(d) { return d.date; });
                var fb_x_max = d3.max(fb.values, function(d) { return d.date; });
                
                var fb_y_min = d3.min(fb.values, function(d) { return d.value; });
                var fb_y_max = d3.max(fb.values, function(d) { return d.value; });
                
                var tw_x_min = d3.min(tw.values, function(d) { return d.date; });
                var tw_x_max = d3.max(tw.values, function(d) { return d.date; });
                
                var tw_y_min = d3.min(tw.values, function(d) { return d.value; });
                var tw_y_max = d3.max(tw.values, function(d) { return d.value; });
                
                var x_min = d3.min([fb_x_min,tw_x_min]);
                var x_max = d3.max([fb_x_max,tw_x_max]);
                
                var y_min = d3.min([fb_y_min,tw_y_min]);
                var y_max = d3.max([fb_y_max,tw_y_max]);

                
                var svgWidth = 500;
                var svgHeight = svgWidth/1.6;
                
                var margin = {top: 30, right: 60, bottom: 50, left: 60};
                
                var width = svgWidth - margin.left - margin.right;
                var height = svgHeight - margin.top - margin.bottom; 
                
                
                var xAxisScale = d3.scaleTime()
                        .domain([d3.timeDay.offset(x_min, 0),d3.timeDay.offset(x_max, 0)])
                        .range([0, width]);
                    
                var yAxisScale = d3.scaleLinear()
                        .domain([y_min-y_min*.5, y_max+y_max*.1])
                        .range([height,0]);
                
                var xAxis = d3.axisBottom(xAxisScale)
                        .tickFormat(d3.timeFormat("%m-%d"))
                        .ticks(8, "s");
                                
                var yAxis = d3.axisLeft(yAxisScale)
                        .ticks(5, "s");  
                
                //create svg
                var svg = d3.select("#plot")
                        .append('svg')
                            .attr('width', svgWidth)
                            .attr('height', svgHeight)
                        .append('g')
                            .attr('class', 'chart')
                            .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')');
                
                // clipping 
               
                var clipRect =svg.append('defs')
                        .append('clipPath')
                            .attr('id', 'clip')
                        .append('rect')
                            .attr('width', width)
                            .attr('height', height);
                               
                //add axis
                var gX = svg.insert('g')
                      .attr('class', 'x_axis')
                      .attr("transform", "translate(0," + height + ")")
                      .call(xAxis);
                      
                var gY = svg.insert('g',)
                        .attr("class", "y_axis")
                        .call(yAxis);
                        
                        
                // text label for the x axis
                  svg.append("text")             
                      .attr("transform",
                            "translate(" + (width/2) + " ," + 
                                           (height + margin.top + 20) + ")")
                      .style("text-anchor", "middle")
                      .text("Date");
                      
                      
                // text label for the y axis
                  svg.append("text")
                      .attr("transform", "rotate(-90)")
                      .attr("y", 0 - margin.left)
                      .attr("x",0 - (height / 2))
                      .attr("dy", "1em")
                      .style("text-anchor", "middle")
                      .text("Elevation (ft)");      

                
               //add line group 
                var gLine = svg.insert('g', '.listener-rect')
                    .attr('class', 'line-group')
                    .attr('clip-path', 'url(#clip)');
                    
                    line = d3.line()
    					.x(function(d) { return xAxisScale(d.date); })
    					.y(function(d) { return yAxisScale(d.value); });
    				
    				fb_path = gLine.append("path")
    					.datum(fb.values)
    					.attr("class", "line forebay")
    					.attr("d", line);
    					
					tw_line = d3.line()
    					.x(function(d) { return xAxisScale(d.date); })
    					.y(function(d) { return yAxisScale(d.value); });
    				
    				tw_path = gLine.append("path")
    					.datum(tw.values)
    					.attr("class", "line tailwater")
    					.attr("d", line);  

                   				
    				
    		//tooltip
    		var gToolTip = svg.insert('g', '.listener-rect')
                    .attr('class', 'tooltip-group');
                    
        	var tooltipLine = gToolTip.append("line")
				   .attr("stroke", "none");
    		
    				
    		//add the listner group and rect for all mouse events
    		var gListener = svg.append('g')
                    	.attr('class', 'listener-group')
                    	.attr('clip-path', 'url(#clip)');
                    	
                        
             var listenerRect = gListener
                        .append('rect')
                          .attr('class', 'listener-rect')
                          .attr('x', 0)
                          .attr('y', -margin.top)
                          .attr('width', width+width*.05)
                          .attr('height', height+height*.05)
                          .style('opacity', 0)
                          .on("mousemove", function () {
                            //x's and y's for tooltips
                            cx = d3.mouse(this)[0];
                            cy = d3.mouse(this)[1];
                            x = roundMinutes(xAxisScale.invert(cx))
                            filterByDate = function(item){
                                    return item.date == x.toString();
                                };                      
                            getY = function(x_min,x_max,data){
                                if(x<x_min){
                                    return data[0].value;
                                }else if(x>x_max){
                                    return data[data.length-1].value;
                                }else{
                                    return data.filter(filterByDate)[0].value;
                                }
                            } 
                            fb_y = getY(x_min=fb_x_min, fb_x_max, fb.values)
                            tw_y = getY(x_min=tw_x_min, tw_x_max, tw.values)
                            
                        //update line
                            tooltipLine.attr("class", "tool-tip-visible")
                                .attr("x1", cx)
                                .attr("x2", cx)
                                .attr("y1", -height)
                                .attr("y2", height)
                                
                        //update boxes position
                            d3.select('#mytooltip') 
                                .select("#twvalue")
                                .text(tw_y);
                            d3.select('#mytooltip') 
                                .select("#fbvalue")
                                .text(fb_y);
                            d3.select('#mytooltip')
                                .select("#date")
                                .text(x.toLocaleString("en-US"));  
                                
                        //show box
                            d3.select('.tooltipdata#date') 
                                .classed("hidden", false);
                            d3.select('.tooltipdata#fbvalue') 
                                .classed("hidden", false);
                            d3.select('.tooltipdata#twvalue') 
                                .classed("hidden", false);

                                
                        })
                        .on("mouseout", function () {
                            tooltipLine.attr("class", "tool-tip-invisible");
                            d3.select('.tooltipdata#date') 
                                .classed("hidden", true);
                            d3.select('.tooltipdata#fbvalue') 
                                .classed("hidden", true);
                            d3.select('.tooltipdata#twvalue') 
                                .classed("hidden", true);
                        });
            
            
            } 
            
            
            var url = "http://127.0.0.1:5000/map/cwms?paths={{ fb.path }}&paths={{ tw.path }}&lookback=7"
            const ts_data = getData(url)
            data = ts_data.then(parseData).then(elevationPlot)
         
        </script>

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>{{ title }}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Time</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
          
          {% for path in paths %}
            <tr>
              <th scope="row">{{ path.parameter }}</th>
              <td>{{ path.date }}</td>
              <td>{{ path.value }}</td>
              
            </tr>
            {% endfor %}
          </tbody>
    </table>
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show Plot
          </button>
        </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                  <div id="plot">
                       <table id="mytooltip">
                       <col span="1" class="col1">
                       <col span="2" class="col2">
                       
                          <tr>
                            <td></td>
                            <td style= "text-align: left">Date:</td>
                            <td id = "date" class = "tooltipdata hidden"></strong></th>
                          </tr>
                          <tr>
                            <td><div class = "legend" id="fb-legend"></div></td>
                            <td "text-align: left">Forebay (ft):</td>
                            <td id = "fbvalue" class = "tooltipdata hidden"></td>
                          </tr>
                          <tr>
                            <td><div class = "legend" id="tw-legend"></div></td>
                            <td "text-align: left">Tailwater (ft):</td>
                            <td id = "twvalue" class = "tooltipdata hidden"></td>
                          </tr>
                        </table> 
                  </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>