<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Time</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
          {% for path in paths %}
            <tr>
              <th scope="row">{{ path.parameter }}</th>
              <td>{{ path.date }}</td>
              <td>{{ path.value }}</td>
              
            </tr>
            {% endfor %}
          </tbody>
    </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>