.line {
		fill: none;
		stroke-width: 3;
}
.forebay {
		stroke: teal;		
}
			
.tailwater {
		stroke: #d94801;	
}		
			
			
.hidden {
  stroke: none;
}

.listener-group {
  // ..
  pointer-events: all;
}

line.tool-tip-visible{
    stroke: black;
    stroke-width: .5;
}


.plottooltip {
				position: relative;
				width: 250px;
				height: 100px;
				padding: 5px;
				background-color: none;
				pointer-events: none;
				color: black;
				
}

			
.plottooltip p {
				margin: 0;
				font-family: sans-serif;
				font-size: 15px;
				line-height: 18px;
}


.legend {
				
				width: 10px;
				height: 10px;
				float: left;
				vertical-align: bottom;
				bottom: 0;
				font-family: sans-serif;
				font-size: 15px;
				line-height: 18px;
    				
}

#fb-legend{
                background-color: teal;


}


#tw-legend{
                background-color: #d94801;


}


.col1 {
                width:15px;

}             

