{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>Edit {{ cbt.name }} </h1>
    <div>
        <form method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <table class="table">
          <thead>
          </thead>
          <tbody>
            {% for row in form_rows %}
            <tr>
              <td>{{ wtf.form_field(form[row[0]]) }}</td>
              <td>{{ wtf.form_field(form[row[1]]) }}</td>
              <td>{{ wtf.form_field(form[row[2]]) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ wtf.form_field(form.submit) }}
        </form>
         </div> 
    
{% endblock %}
