{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
	{{ super() }}
		<script type="text/javascript">
				var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
											maxZoom: 18,
											id: 'mapbox.streets',
											accessToken: 'pk.eyJ1IjoiamZmdGlsdG9uIiwiYSI6ImNqcWVnbDlzaTFiNGc0Mm53NHVyNTl5OTMifQ.rq5EIs1uXkuYrg08W3OO3g'
				});
				//River layer
				var snake = L.marker([46.271,-115.396 ]).bindPopup('Snake River Projects');
				    columbia = L.marker([45.611,-121.161 ]).bindPopup('Columbia River Projects');
					willamette = L.marker([44.558,-123.065 ]).bindPopup('Willamette River Projects');
				var rivers = L.layerGroup([snake, columbia, willamette]);
				

				//add cbt markers
				var cbts = L.layerGroup()
				{% for cbt in cbts %}
				var {{ cbt.cbt }} = L.marker([{{ cbt.latitude }},{{ cbt.longitude }}]).bindPopup('{{ cbt.name }}');
				cbts.addLayer( {{cbt.cbt }} );
				{% endfor %}

				// Create map
				var mymap = L.map('mapid',{
								center: [46.271,-115.396 ],
								zoom: 5,
								layers: [streets, rivers]
								})
					//remove rivers on zoom
					mymap.on('zoomend', function(){
							if (mymap.getZoom() > 7 && mymap.hasLayer(rivers) && mymap.hasLayer(cbts) == false){
								mymap.removeLayer(rivers);
								mymap.addLayer(cbts);
							}
							if (mymap.getZoom() < 7 && mymap.hasLayer(rivers) == false && mymap.hasLayer(cbts)){
								mymap.addLayer(rivers);
								mymap.removeLayer(cbts);
							}
						});	

		</script>


{% endblock %}

{% block app_content %}
		<div id ="mapid"></div>
{% endblock %}
